APP_ENV=development
PORT=8080
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=change_me
DB_NAME=mswgo
DB_SSLMODE=disable
READ_TIMEOUT=5
WRITE_TIMEOUT=10
IDLE_TIMEOUT=60
SHUTDOWN_TIMEOUT=15